

.cache
.vscode
Debug
Release
build
src/linux/CrashHandler/crash-*
*.matthew
inline_*.bmp
*.log

ide/lgiide
ide/makefile
ide/lgiide.txt

lvc/lvc
lvc/lvc-bugs.txt
lvc/lvc.txt
lvc/makefile

resourceEditor/lgires
resourceEditor/lgires.txt
resourceEditor/makefile

test/HtmlEditor/htmleditor
test/HtmlEditor/htmleditor.txt

test/HtmlViewer/HtmlTestSuite
test/HtmlViewer/HtmlTestSuite.txt
test/UnitTests/unittests
test/GuiTest/gui_test

utils/PingGraph/ping_graph
utils/PingGraph/ping_graph.txt
utils/SlogViewer/makefile
utils/SlogViewer/slogviewer
utils/SlogViewer/slogviewer.txt
.aider*
